@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}


::ng-deep body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgb(2, 38, 48);
    background-image: url("../../../assets/images/ES-2023-09-PUB-marketplaces.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.form{
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 10rem;
    width: 340px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 251, 251);
}

.form input{
    height: 30px;
    width: 320px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-weight: bold;
    background-color: rgb(255, 251, 251);
}

.form h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

#enviar button ,
#voltar button
{
    height: 35px;
    background: firebrick;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
    font-weight: bold;
    width: 343px;
    background-color: rgb(7, 66, 82);
}

#voltar button{
    background-color: rgb(59, 59, 59);
}

#enviar button:hover ,
#voltar button:hover
{
    opacity: 0.82;
}

label{
    font-weight: bold;
}