
<div class="conteudo">

    <nav>
        <div class="logo">
            <a><span>Pro</span>Fatura</a>
        </div>
    
       
    </nav>
    <section class="banner">
        <div class="texto">
           <h1 class="titulo">ProFatura</h1>
           <p class="descricao">Bem-vindo ao ProFatura, o sistema de faturação definitivo projetado para simplificar e otimizar a gestão financeira da sua empresa. Com o ProFatura, você ganha uma ferramenta robusta, intuitiva e segura para lidar com todas as suas necessidades de faturamento</p>
           <div class="botoes">
               <button class="n-overlay" routerLink='/login' >Login</button>
           </div>
        </div>
    </section>

</div>

